<!DOCTYPE html>
  <head>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>
    <h1>Flowers<img [src]="myImage" width="100px" height="100px"></h1><br/>
      <nav>
        <a routerLink="/home" style="text-decoration: none;">Home</a>
        <a routerLink="/about"style="text-decoration: none;">About</a>
        <a routerLink="/menu" style="text-decoration: none;">Menu</a>
        <a routerLink="/booking"style="text-decoration: none;">Booking</a>
        <a routerLink="/franchies"style="text-decoration: none;">login</a>
      </nav>
      <router-outlet></router-outlet>
      <br>
      <img src="../assets/bhagya/f1.jpg" height="100%" width="100%">
  </body>
